{
	"extends": "crockford",
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"Promise": true,
		"agidSpidEnterConfig": true,
		"agidSpidEnterTpl": true
	},
	"rules": {
		"no-plusplus": 0,
		"no-mixed-spaces-and-tabs": 0,
		"indent": 1
	}
}
