$timingFn: cubic-bezier(0.230, 1.000, 0.320, 1.000);

.agid-spid-button-anim-anim-in {
    animation-name: anim-panel-in;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-button-anim-base-anim-in {
    animation-name: anim-base-in;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-button-anim-icon-anim-in {
    animation-name: anim-icon-in;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-panel-select-anim-in {
    animation-name: anim-panel-in;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-button-anim-anim-out {
    animation-name: anim-panel-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-button-anim-base-anim-out {
    animation-name: anim-base-out;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-button-anim-icon-anim-out {
    animation-name: anim-icon-out;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.agid-spid-panel-select-anim-out {
    animation-name: anim-panel-out;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: $timingFn;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

$animBaseWidth: 180px;
$animBaseHeight: 48px;
@keyframes anim-base-in {
    0% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 0;
    }
    50% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 1;
    }
    100% {
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        transform: scale(30);
        border-radius: 100%;
        opacity: 1;
    }
}

@keyframes anim-base-out {
    0% {
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        transform: scale(30);
        border-radius: 100%;
        opacity: 1;
    }
    50% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 0.5;
    }
    100% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 0;
    }
}

$animIconSize: 30px;
$animIconDistanceStart: 50;
$animIconDistanceEnd: 120;
@keyframes anim-icon-in {
    0% {
        width: $animIconSize;
        height: $animIconSize;
        top:  $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity:0;
    }
    5% {
        width: $animIconSize;
        height: $animIconSize;
        top:  $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0.2;
    }
    100% {
        top: 0vh;
        left: 20vw;
        width: 120vw;
        height: 120vh;
        opacity: 0.1;
    }
}

@keyframes anim-icon-out {
    0% {
        top: 0vh;
        left: 20vw;
        width: 120vw;
        height: 120vh;
        opacity: 0.1;
    }
    50% {
        width: $animIconSize;
        height: $animIconSize;
        top:  $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0;
    }
    100% {
        width: $animIconSize;
        height: $animIconSize;
        top:  $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0;
    }
}

@keyframes anim-panel-in {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// safari richiede che una proprietà animata sia presente in tutti gli steps
@keyframes anim-panel-out {
    0% {
        left: 0vw;
        opacity: 1;
    }
    50% {
        left: -100vw;
        opacity: 0.5;
    }
    100% {
        left: -200vw;
        opacity: 0;
    }
}
