.spid-button-panel-anim {
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.spid-enter-container {
    display: block;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-property: visibility;
    // FadeOut
    &[hidden] {
        // visibility è animabile diversamente da display
        // pointer events evita che l'elemento riceva eventi durante e l'animazione
        // gli elementi con visibility hidden non ricevono comunque gli eventi
        visibility: hidden;
        transition-duration: 0s;
        transition-property: visibility;
        transition-delay: 1s;
        pointer-events: none;

        .spid-button-panel-anim {
            animation-name: anim-panel-out;
            animation-duration: 1s;

            .spid-button-fade-out-left {
                animation-name: spid-button-logo-left-fade-out;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            .spid-button-fade-out-right {
                animation-name: spid-button-close-right-fade-out;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            .spid-button-fade-out-bottom {
                animation-name: spid-button-title-fade-out;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }
        }
    }
    // FadeIn
    &:not([hidden]) {
        .spid-button-panel-anim {
            animation-name: anim-panel-in;
            animation-duration: 2s;
            animation-delay: 0s;

            .spid-button-fade-in-left {
                animation-name: spid-button-logo-left-fade-in;
                animation-duration: 0.5s;
                animation-delay: 0.5s;
                animation-fill-mode: both;
            }

            .spid-button-fade-in-right {
                animation-name: spid-button-close-right-fade-in;
                animation-duration: 0.5s;
                animation-delay: 1s;
                animation-fill-mode: both;
            }

            .spid-button-fade-in-bottom {
                animation-name: spid-button-title-fade-in;
                animation-duration: 0.5s;
                animation-delay: 0.5s;
                animation-fill-mode: both;
            }
        }
    }
}

.spid-button-idp-fade-in {
    animation-name: spid-button-anim-idp-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes spid-button-anim-idp-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.spid-button-idp-fade-out {
    animation-name: spid-button-anim-idp-fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes spid-button-anim-idp-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes spid-button-logo-left-fade-in {
    from {
        transform: translate(-50px);
    }

    to {
        transform: none;
    }
}

@keyframes spid-button-close-right-fade-in {
    from {
        transform: none;
    }

    to {
        transform: translate(-50px);
    }
}

@keyframes spid-button-title-fade-in {
    from {
        opacity: 0;
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes spid-button-logo-left-fade-out {
    from {
        transform: none;
    }

    to {
        transform: translate(-50px);
    }
}

@keyframes spid-button-close-right-fade-out {
    from {
        transform: none;
    }

    to {
        transform: translate(-50px);
    }
}

@keyframes spid-button-title-fade-out {
    from {
        opacity: 0;
        transform: none;
    }

    to {
        opacity: 1;
        transform: translateY(200%);
    }
}

$animBaseWidth: 180px;
$animBaseHeight: 48px;

@keyframes anim-base-in {
    0% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 0;
    }

    50% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 1;
    }

    100% {
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        transform: scale(30);
        border-radius: 100%;
        opacity: 1;
    }
}

@keyframes anim-base-out {
    0% {
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        transform: scale(30);
        border-radius: 100%;
        opacity: 1;
    }

    50% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 0.5;
    }

    100% {
        width: $animBaseWidth;
        height: $animBaseHeight;
        top: calc((100vh - #{$animBaseHeight}) / 2);
        left: calc((100vw - #{$animBaseWidth}) / 2);
        border-radius: 100%;
        opacity: 0;
    }
}

$animIconSize: 30px;
$animIconDistanceStart: 50;
$animIconDistanceEnd: 120;

@keyframes anim-icon-in {
    0% {
        width: $animIconSize;
        height: $animIconSize;
        top: $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0;
    }

    5% {
        width: $animIconSize;
        height: $animIconSize;
        top: $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0.2;
    }

    100% {
        top: 0;
        left: 20vw;
        width: 120vw;
        height: 120vh;
        opacity: 0.1;
    }
}

@keyframes anim-icon-out {
    0% {
        top: 0;
        left: 20vw;
        width: 120vw;
        height: 120vh;
        opacity: 0.1;
    }

    50% {
        width: $animIconSize;
        height: $animIconSize;
        top: $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0;
    }

    100% {
        width: $animIconSize;
        height: $animIconSize;
        top: $animIconDistanceStart * 1vh;
        left: $animIconDistanceStart * 1vw;
        opacity: 0;
    }
}

@keyframes anim-panel-in {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
// safari richiede che una proprietà animata sia presente in tutti gli steps
@keyframes anim-panel-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hide-on-end {
    0% {
        height: 100vh;
    }

    100% {
        height: 0;
    }
}

.spid-button {
    &.spid-button-transition {
        animation-name: fadeOutEnterBtn;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    &.spid-button-reverse-enter-transition {
        animation-name: fadeInEnterBtn;
        animation-duration: 1s;
    }
}

.spid-button-little-man-icon {
    animation-name: spid-show-little-man;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.spid-button-icon-animation {
    animation-name: spid-button-icon-smaller-logo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.spid-button-icon-animation.in {
    animation-name: spid-button-icon-bigger-logo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.spid-button-logo-animation-out {
    animation-name: spid-hide-little-man;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes spid-show-little-man {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.15;
        position: absolute;
        top: 80%;
        left: 75%;
        width: 15%;
    }
}

@media (max-width: 1110px) {
    @keyframes spid-show-little-man {
        100% {
            opacity: 0.15;
            position: absolute;
            top: 77%;
            left: 80%;
            width: 12%;
        }
    }
}

@keyframes spid-hide-little-man {
    50% {
        opacity: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes fadeOutEnterBtn {
    from {
        outline: none;
        opacity: 1;
    }

    to {
        outline: none;
        opacity: 0.2;
    }
}

@keyframes spid-button-icon-bigger-logo {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        transform-origin: top left;
        transform: translate(50vw, 50vh) scale(10);
    }
}

@media screen and (max-width: 767px) {
    @keyframes spid-button-icon-bigger-logo {
        from {
            opacity: 1;
            visibility: hidden;
        }

        to {
            opacity: 0.2;
            transform: translate(50vw, 50vh) scale(10);
            visibility: visible;
        }
    }
}

@keyframes spid-button-icon-smaller-logo {
    0% {
        opacity: 0.2;
        transform-origin: top left;
        transform: translate(50vw, 50vh) scale(10);
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    @keyframes spid-button-icon-smaller-logo {
        from {
            opacity: 0.2;
            transform: translate(50vw, 50vh) scale(10);
        }

        to {
            transform: none;
            opacity: 1;
        }
    }
}

@keyframes fadeInEnterBtn {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

